@import "variables.css";

body {
  color: var(--bs-body-color);
}

/* alerts styles  */
.alert-success {
  background-color: var(--bs-success);
  color: #fff;
}

.alert-danger {
  background-color: var(--bs-danger);
  color: #fff;
}

.alert-warning {
  background-color: var(--bs-warning);
  color: var(--bs-body-color);
}

.alert-info {
  background-color: var(--bs-info);
  color: var(--bs-body-color);
}
