<footer style="background-color: var(--bs-info);" class="text-center py-3">
  <div class="container">
    &copy; <%= Time.current.year %> Book Worms Society by Valentina Rudnitskaya. All rights reserved.
  </div>
</footer>